{
  "runner": "experimentVelocity" | "parseRawFiles" | "velocityComp" | "tauErrors" | "pedestrianSimulation"
  "startTime": 8.8,
  "endTime": 9.9,
  "id": 10,
  "experimentOutput": "pedestrians.json",
  "experimentVelocityOutput": "expVelocity.json",
  "simulationOutput": "simulation.json",
  "experimentVelocityCompOutput": "compVelocity.json",
  "tauErrorOutput": "tauError.json",
  "tau": 0.5,
  "tauMax": 5,
  "deltaTau": 0.01,
  "initialVelocity": 1.55,
  "vd": 1.6,
  "targetVelocity": 0.21
}
